.home{
    background: linear-gradient(128.36deg, rgba(216, 104, 0, 0.17) 13.9%, rgba(216, 119, 30, 0.08) 26.11%, rgba(217, 217, 217, 0.03) 75.85%);
  }
  .card__top-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 73px;
  
    color: #000000;
    margin-left: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }
  .card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  