.App{
  overflow-x: hidden;
}
@font-face {
  font-family: 'Inter';
  src: url('./font/Inter-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-Regular';
  src: url('./font/Inter-Regular.ttf') format('truetype');
}